<table border="1">
<tr>
    <td> 학번</td><td>이름</td><td>전공</td><td>전화번호</td><td>주소</td><td>취미</td><td>보유기술</td><td>수정</td><td>삭제</td>
</tr>
{% for student in student_list  %}
<tr>

    <td><a href='{% url "course:s_detail" student.studentID %} '>{{student.studentID}}</a></td> 
    <td>{{student.name}}</td> 
    <td>{{student.major}}</td> 
    <td>{{student.phone}}</td> 
    <td>{{student.address}}</td> 
    <td>{{student.hobby}}</td> 
    <td>{{student.skill}}</td>
    <td><button onclick="location.href='{% url 'course:s_edit' student.studentID %}'">수정</button></td>
    <td><button onclick="location.href='{% url 'course:s_delete' student.studentID %}'">삭제</button></td>
</tr>
{% endfor %}
</table>